---
const pageTitle = "About astro";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>This is the {pageTitle} page</h1>

  <li>my name is {identity.firstName}</li>
  <p>my skills are</p>
  <ul>
    {
      skills.map((skill, index) => {
        return <li>{skill}</li>;
      })
    }
  </ul>
</BaseLayout>
