---
const pageTitle = "Blog page";
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layout/BaseLayout.astro";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
);


---

<BaseLayout pageTitle={pageTitle}>
  <h1>this is the blog page</h1>
  <ul>
    {
      allPosts.map((post: any) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
