---
const pageTitle = "Blog page";
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>this is the blog page</h1>
  <ul>
    <li><a href="/posts/post-1">post 1 url </a></li>
    <li><a href="/posts/post-2">post 2 url </a></li>
    <li><a href="/posts/post-3">post 3 url </a></li>
  </ul>
</BaseLayout>
